<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <a href="/courses/add">Create a Course</a>
</div>

<div>
    <table>
        <tr>
            <th>Course name</th>
            <th>Description</th>
        </tr>

        <tr class="item" th:each="course: ${courses}"  >
            <td th:text="${course.name}">[course.name]</td>
            <td th:text="${course.description}">[course.description]</td>
            <td>
                <!-- NewsController.delete -->
                <form method="POST" th:action="@{'/courses/delete/{id}' (id=${course.courseId})}">
                    <button type="submit" class="delete-item">Delete</button>
                </form>

                <form method="POST" th:action="@{'/courses/edit-form/{id}' (id=${course.courseId})}">
                    <button type="submit">Edit</button>
                </form>
            </td>
        </tr>
    </table>

</div>
</body>
</html>
